In [1]:
import time
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
resp = Request('https://abbreviations.yourdictionary.com/articles/state-abbrev.html', headers={'User-Agent':'Mozilla'}) #http response
soup1 = BeautifulSoup(urlopen(resp)) #turn respone into readable data

tax_states_dict = {}
for i in soup1.find('ul'):
    if i != ' ':
        temp = str(i).split('>')[1].split('<')[0].split('-')
        tax_states_dict[temp[1].rstrip().lstrip()] = temp[0].rstrip()

tax_states_dict['TX']

'Texas'

In [3]:
def get_net_pay(money, rate, state):
    if rate in ['year', 'month', 'biweek', 'week', 'day', 'hour']:
        url_base = 'https://neuvoo.com/tax-calculator/?iam=&salary=%s&from=%s&region=%s' % (str(money), rate, tax_states_dict[state])
        url_base = '+'.join(url_base.split(' '))
        resp = Request(url_base, headers={'User-Agent':'Mozilla'}) #http response
        soup = BeautifulSoup(urlopen(resp)) #turn respone into readable data
        net_pay = soup.find("div", {"id": "net_pay"}).text
        return net_pay[2:]
    else:
        print('Check your rate')
        return 'Error'

In [4]:
def col_compare(rate, yearly_to, yearly_from, city_to, city_from='Dallas, TX'):
    '''
        rate: string with any value in ['year', 'month', 'biweek', 'week', 'day', 'hour'],
        yearly_to: int,
        yearly_from: int,
        city: string in format "City name, State acronym",
        city_from: string in format "City name, State"
    '''
    #we get the net pay after taxes
    state_to = city_to.split(',')[1].lstrip()
    state_from = city_from.split(',')[1].lstrip()
    net_pay_to = get_net_pay(yearly_to, rate, state_to)
    net_pay_from = get_net_pay(yearly_from, rate, state_from)
    if net_pay_from == 'Error' or net_pay_to == 'Error':
        print('Check your inputs')
    else:
        nw_url = 'https://www.nerdwallet.com/cost-of-living-calculator/compare/%s-vs-%s' % (city_dict[city_from], city_dict[city_to])
        resp = Request(nw_url, headers={'User-Agent':'Mozilla'}) #http response
        key_str = BeautifulSoup(urlopen(resp)).find('div', {'class': 'col-results-header-info'}).text
        
        print('%s after taxes in %s' % (net_pay_from, city_from))
        print('%s after taxes in %s' % (net_pay_to, city_to))
        print('-------------------------------------------------------')
        print(key_str)
        
        key_str = key_str.split(' ')[5:7]
        col_mag = float(key_str[0][:-1])/100
        col_dir = 1+col_mag if key_str[1] == 'higher' else 1-col_mag
        
        col_from = float(''.join(net_pay_from[1:].split(',')))
        col_to = float(''.join(net_pay_to[1:].split(','))) / col_dir
        print('-------------------------------------------------------')
        change_in_col = col_from/col_to
        if change_in_col > 1:
            rud = str(round((change_in_col-1)*100,3)) + '%'
            print('Moving from %s to %s leads to %s reduction in standard of living' % (city_from, city_to, rud))
        else:
            inc = str(round((1-change_in_col)*100, 3)) + '%'
            print('Moving from %s to %s leads to %s increase in standard of living' % (city_from, city_to, inc))

In [6]:
f = open('city_urls_nd.txt', 'r')
city_tags = []
for i in f:
    city_tags.append(i[:-1].split('vs')[-1][1:])

city_tags.append('dallas-tx')

def city_formatter(city_tag):
    temp = city_tag.split('-')
    state = temp[-1].upper()
    city = [i.capitalize() for i in temp[:-1]]
    return ' '.join(city) + ', ' + state

city_dict = {city_formatter(i): i for i in city_tags} # Formatted city name so it looks nicer when inputed 

test_city_dict = {i:key for i,key in enumerate(city_dict.keys())} #made so I don't have to type up the city name

In [8]:
test_city_dict

{0: 'Anchorage, AK',
 1: 'Fairbanks, AK',
 2: 'Juneau, AK',
 3: 'Anniston Calhoun County, AL',
 4: 'Auburn Opelika, AL',
 5: 'Birmingham, AL',
 6: 'Decatur Hartselle, AL',
 7: 'Dothan, AL',
 8: 'Florence, AL',
 9: 'Huntsville, AL',
 10: 'Mobile, AL',
 11: 'Montgomery, AL',
 12: 'Conway, AR',
 13: 'Fayetteville, AR',
 14: 'Hot Springs, AR',
 15: 'Jonesboro, AR',
 16: 'Little Rock North Little Rock, AR',
 17: 'Bullhead City, AZ',
 18: 'Flagstaff, AZ',
 19: 'Lake Havasu City, AZ',
 20: 'Phoenix, AZ',
 21: 'Surprise, AZ',
 22: 'Tucson, AZ',
 23: 'Yuma, AZ',
 24: 'Bakersfield, CA',
 25: 'Los Angeles Long Beach, CA',
 26: 'Modesto, CA',
 27: 'Oakland, CA',
 28: 'Orange County, CA',
 29: 'Sacramento, CA',
 30: 'San Diego, CA',
 31: 'San Francisco, CA',
 32: 'Stockton, CA',
 33: 'Colorado Springs, CO',
 34: 'Denver, CO',
 35: 'Glenwood Springs, CO',
 36: 'Pueblo, CO',
 37: 'Westminster, CO',
 38: 'New Haven, CT',
 39: 'Stamford, CT',
 40: 'Washington, DC',
 41: 'Dover, DE',
 42: 'Sussex County, DE',
 43: 'Wilmington, DE',
 44: 'Cape Coral Fort Myers, FL',
 45: 'Daytona Beach, FL',
 46: 'Fort Lauderdale, FL',
 47: 'Jacksonville, FL',
 48: 'Miami Dade County, FL',
 49: 'Orlando, FL',
 50: 'Palm Coast Flagler County, FL',
 51: 'Pensacola, FL',
 52: 'Sarasota, FL',
 53: 'Tallahassee, FL',
 54: 'Tampa, FL',
 55: 'Vero Beach Indian River, FL',
 56: 'Atlanta, GA',
 57: 'Dalton, GA',
 58: 'Dublin Laurens County, GA',
 59: 'Marietta, GA',
 60: 'Savannah, GA',
 61: 'Statesboro Bulloch County, GA',
 62: 'Valdosta, GA',
 63: 'Augusta Aiken Ga, SC',
 64: 'Honolulu, HI',
 65: 'Ames, IA',
 66: 'Burlington, IA',
 67: 'Cedar Rapids, IA',
 68: 'Des Moines, IA',
 69: 'Dubuque, IA',
 70: 'Mason City, IA',
 71: 'Waterloo Cedar Falls, IA',
 72: 'Davenport Moline Rock Is Ia, IL',
 73: 'Boise, ID',
 74: 'Twin Falls, ID',
 75: 'Champaign Urbana, IL',
 76: 'Chicago, IL',
 77: 'Danville, IL',
 78: 'Decatur, IL',
 79: 'Joliet Will County, IL',
 80: 'Peoria, IL',
 81: 'Rockford, IL',
 82: 'Elkhart Goshen, IN',
 83: 'Evansville, IN',
 84: 'Fort Wayne Allen County, IN',
 85: 'Indianapolis, IN',
 86: 'Lafayette, IN',
 87: 'Richmond, IN',
 88: 'South Bend, IN',
 89: 'Terre Haute, IN',
 90: 'Dodge City, KS',
 91: 'Hutchinson, KS',
 92: 'Manhattan, KS',
 93: 'Pittsburg, KS',
 94: 'Salina, KS',
 95: 'Topeka, KS',
 96: 'Wichita, KS',
 97: 'Lexington, KY',
 98: 'Louisville, KY',
 99: 'Alexandria, LA',
 100: 'Baton Rouge, LA',
 101: 'Hammond, LA',
 102: 'Houma Terrebonne Parish, LA',
 103: 'Lafayette, LA',
 104: 'Lake Charles, LA',
 105: 'Monroe, LA',
 106: 'New Orleans, LA',
 107: 'Shreveport Bossier City, LA',
 108: 'Slidell St Tammany Parish, LA',
 109: 'Thibodaux Lafourche Parish, LA',
 110: 'Boston, MA',
 111: 'Pittsfield, MA',
 112: 'Baltimore, MD',
 113: 'Bethesda Gaithersburg Frederick, MD',
 114: 'Portland, ME',
 115: 'Benton Harbor, MI',
 116: 'Detroit, MI',
 117: 'Grand Rapids, MI',
 118: 'Kalamazoo, MI',
 119: 'Mankato, MN',
 120: 'Minneapolis, MN',
 121: 'St Cloud, MN',
 122: 'St Paul, MN',
 123: 'Columbia, MO',
 124: 'Jefferson City, MO',
 125: 'Joplin, MO',
 126: 'Springfield, MO',
 127: 'St Louis Mo, IL',
 128: 'Kansas City Mo, KS',
 129: 'Gulfport Biloxi, MS',
 130: 'Hattiesburg, MS',
 131: 'Jackson, MS',
 132: 'Tupelo, MS',
 133: 'Bozeman, MT',
 134: 'Asheville, NC',
 135: 'Burlington, NC',
 136: 'Charlotte, NC',
 137: 'Dare County, NC',
 138: 'Raleigh, NC',
 139: 'Thomasville Lexington, NC',
 140: 'Wilmington, NC',
 141: 'Winston Salem, NC',
 142: 'Bismarck Mandan, ND',
 143: 'Minot, ND',
 144: 'Fargo Moorhead Nd, MN',
 145: 'Lincoln, NE',
 146: 'Omaha, NE',
 147: 'Manchester, NH',
 148: 'Bergen Passaic, NJ',
 149: 'Middlesex Monmouth, NJ',
 150: 'Newark Elizabeth, NJ',
 151: 'Las Cruces, NM',
 152: 'Rio Rancho, NM',
 153: 'Las Vegas, NV',
 154: 'Reno Sparks, NV',
 155: 'Albany, NY',
 156: 'Buffalo, NY',
 157: 'Ithaca, NY',
 158: 'New York Brooklyn, NY',
 159: 'New York Manhattan, NY',
 160: 'New York Queens, NY',
 161: 'Rochester, NY',
 162: 'Utica Rome, NY',
 163: 'Akron, OH',
 164: 'Ashland, OH',
 165: 'Cincinnati, OH',
 166: 'Cleveland, OH',
 167: 'Columbus, OH',
 168: 'Dayton, OH',
 169: 'Findlay, OH',
 170: 'Lima, OH',
 171: 'Ardmore, OK',
 172: 'Edmond, OK',
 173: 'Enid, OK',
 174: 'Muskogee, OK',
 175: 'Norman, OK',
 176: 'Oklahoma City, OK',
 177: 'Ponca City, OK',
 178: 'Pryor Creek, OK',
 179: 'Tulsa, OK',
 180: 'Portland, OR',
 181: 'Allentown, PA',
 182: 'Erie, PA',
 183: 'Philadelphia, PA',
 184: 'Pittsburgh, PA',
 185: 'Reading, PA',
 186: 'Scranton, PA',
 187: 'Wilkes Barre, PA',
 188: 'York County, PA',
 189: 'San Juan, PR',
 190: 'Providence, RI',
 191: 'Anderson, SC',
 192: 'Charleston N Charleston, SC',
 193: 'Columbia, SC',
 194: 'Greenville, SC',
 195: 'Hilton Head Island, SC',
 196: 'Pierre, SD',
 197: 'Chattanooga, TN',
 198: 'Columbia Maury County, TN',
 199: 'Jackson Madison County, TN',
 200: 'Knoxville, TN',
 201: 'Memphis, TN',
 202: 'Morristown, TN',
 203: 'Nashville Murfreesboro, TN',
 204: 'Abilene, TX',
 205: 'Amarillo, TX',
 206: 'Austin, TX',
 207: 'Beaumont, TX',
 208: 'Brazoria County, TX',
 209: 'Conroe, TX',
 210: 'Corpus Christi, TX',
 211: 'Fort Worth, TX',
 212: 'Harlingen, TX',
 213: 'Houston, TX',
 214: 'Longview, TX',
 215: 'Lubbock, TX',
 216: 'Mc Allen, TX',
 217: 'Midland, TX',
 218: 'Nacogdoches, TX',
 219: 'Odessa, TX',
 220: 'Plano, TX',
 221: 'Round Rock, TX',
 222: 'San Antonio, TX',
 223: 'San Marcos, TX',
 224: 'Seguin, TX',
 225: 'Sherman Denison, TX',
 226: 'Temple, TX',
 227: 'Tyler, TX',
 228: 'Waco, TX',
 229: 'Wichita Falls, TX',
 230: 'Texarkana Tx, AR',
 231: 'Cedar City, UT',
 232: 'Ogden, UT',
 233: 'Provo Orem, UT',
 234: 'Salt Lake City, UT',
 235: 'St George, UT',
 236: 'Alexandria, VA',
 237: 'Arlington, VA',
 238: 'Danville City, VA',
 239: 'Hampton Roads Se Virginia, VA',
 240: 'Harrisonburg, VA',
 241: 'Lexington Buena Vista Rockbridge, VA',
 242: 'Lynchburg, VA',
 243: 'Martinsville Henry County, VA',
 244: 'Richmond, VA',
 245: 'Roanoke, VA',
 246: 'Staunton Augusta County, VA',
 247: 'Winchester Va, WV',
 248: 'Burlington Chittenden County, VT',
 249: 'Bellingham, WA',
 250: 'Kennewick Richland Pasco, WA',
 251: 'Moses Lake, WA',
 252: 'Mount Vernon Skagit County, WA',
 253: 'Olympia, WA',
 254: 'Seattle, WA',
 255: 'Spokane, WA',
 256: 'Tacoma, WA',
 257: 'Wenatchee, WA',
 258: 'Yakima, WA',
 259: 'Eau Claire, WI',
 260: 'Fond Du Lac, WI',
 261: 'Green Bay, WI',
 262: 'Madison, WI',
 263: 'Marshfield, WI',
 264: 'Milwaukee Waukesha, WI',
 265: 'Morgantown, WV',
 266: 'Laramie, WY',
 267: 'Dallas, TX'}

In [13]:
col_compare('year', 70000, 70000, test_city_dict[244])

$55,946 after taxes in Dallas, TX
$52,524 after taxes in Richmond, VA
-------------------------------------------------------
The cost of living is 13% lower in Richmond, VA
-------------------------------------------------------
Moving from Dallas, TX to Richmond, VA leads to 7.332% increase in standard of living

In [109]:
col_compare('hour', 23, 45, test_city_dict[6], test_city_dict[8])

$33.29 after taxes in Florence, AL
$18.39 after taxes in Decatur Hartselle, AL
-------------------------------------------------------
The cost of living is 2% lower in Decatur-Hartselle, AL
-------------------------------------------------------
Moving from Florence, AL to Decatur Hartselle, AL leads to 77.402% reduction in standard of living

In [14]:
col_compare('year', 90000, 90000, test_city_dict[159])

$70,016 after taxes in Dallas, TX
$65,022 after taxes in New York Manhattan, NY
-------------------------------------------------------
The cost of living is 128% higher in New York (Manhattan), NY
-------------------------------------------------------
Moving from Dallas, TX to New York Manhattan, NY leads to 145.511% reduction in standard of living

### Steps for extracting city values
1. Change tabs to nerd wallet
2. Click on bar with "I want to live in:"
3. Press 'Enter' the first time then everytime after press 'Down' + 'Enter'
4. Go to URL address bar and copy it
5. Go to excel and paste it and press 'Enter'
6. Then go back to nerd wallet page and repeat at step 2

In [132]:
import pyautogui as pg

In [169]:
tab = pg.position() #set up the postion for the tab

In [171]:
bar = pg.position() #set up the search bar position

In [172]:
url = pg.position() #set up the url address position

In [173]:
excel = pg.position() #set up the excel position

In [185]:
# First pass b/c we can't press down the first time
pg.moveTo(tab)
pg.click()
pg.moveTo(bar)
pg.click()
pg.press('enter')
pg.moveTo(url)
pg.click()
pg.hotkey('ctrl', 'a')
pg.hotkey('ctrl', 'c')
pg.moveTo(excel)
pg.click()
pg.hotkey('ctrl', 'v')
pg.press('enter')

In [186]:
def add_url_to_excel():
    pg.moveTo(tab)
    pg.click()
    pg.moveTo(bar)
    pg.click()
    pg.press('down')
    pg.press('enter')
    pg.moveTo(url)
    pg.click()
    pg.hotkey('ctrl', 'a')
    pg.hotkey('ctrl', 'c')
    pg.moveTo(excel)
    pg.click()
    pg.hotkey('ctrl', 'v')
    pg.press('enter')

In [187]:
for i in range(266): #316 total minus 50 states
    add_url_to_excel()